body {
  background: #575757;
  font-color: #333333;
  width: 960px; }
  body h1 {
    font-color: red; }
  body span {
    font-color: pink; }
    body span a {
      font-size: 20px; }
  body h2 {
    font-family: 'Helvetica'; }
  body .cambiar-color-rojo {
    color: red; }
  body .cambiar-color-verde {
    color: green; }
