//Definiendo variables
$pages_width: 960px;
$half_pages: $pages_width / 2;
$mutiplied_pages:$pages_width * 2;
$sum_pages:$pages_width + 200;
$minus_page:$pages_width - 200;

$font_family:Helvetica,Arial,sans-serif;
$color_font:#333;
$color_white:white;
$color_red : red;
$color_green:green;

