@import "_variables";

body{
	background:$secondary_color;
	font-color:$primary_color;
	width:$page_width;


	h1{
		font-color:red;
	}

	span{
		font-color:pink;
		a{
			font-size: 20px;
		}
	}

	h2{
		font-family: 'Helvetica';
	}

	.cambiar-color-rojo{
		color:$color_rojo;
	}
	.cambiar-color-verde{
		color:$color_verde;
	}
}